---
import Layout from '../layouts/Layout.astro'
import MenuLanding from '../components/MenuLanding.astro'
import HeaderLanding from '../components/HeaderLanding.astro'
import Profile from '../components/Profile.astro'
---

<Layout title="Rodro">
	<main class="bg-[#0C1014] overflow-x-hidden">
		<MenuLanding />
		<HeaderLanding />
		<Profile />
	</main>
</Layout>
