---
import Layout from '../layouts/Layout.astro'
import MenuLanding from '../components/MenuLanding.astro'
import HeaderLanding from '../components/HeaderLanding.astro'
import Profile from '../components/Profile.astro'
import ProjectsGrids from '../components/ProjectsGrids.astro';
import Skills from '../components/Skills.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout title="Rodro | UX/Front Dev">
	<div class="noise bg-noise"></div>
	<MenuLanding />
	<main
		class="bg-[#0C1014] snap-y snap-mandatory relative z-30 w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth"
	>
		<div
			style="position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url('/bg_logo.webp');
		background-size: 20%;
		background-repeat: no-repeat;
		background-position: center;
		pointer-events: none;
		z-index: 1;"
		>
		</div>
		<div class="">
			<HeaderLanding />
		</div>
		<div class="">
			<Profile />
		</div>
		<div class="mb-96">
			<ProjectsGrids />
		</div>
		<div class="">
			<Skills />
		</div>
		<div class="">
			<CallToAction />
		</div>
	</main>
</Layout>

<style>
	.noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    content: "";
    opacity: .020;
    z-index: 1000;
    pointer-events: none;
    background-image: url(/noise.gif);
}
</style>
