---
import Astra from '/astra.webp'
---

<section
	class="flex justify-center flex-col items-center h-screen w-screen relative 2xl:px-36 z-10 sm:px-1"
>
	<div class="flex justify-center items-center flex-col mb-32">
		<h6 class="mb-2 text-xl font-bold tracking-tight"
			style="background: var(--titlessubtitles, linear-gradient(89deg, #01EBA6 0%, #01D398 34.90%, #01A47D 69.79%, #018C77 97.97%));
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;"
		>
			Work
		</h6>
		<h2 class="text-white font-bold text-5xl mb-3">Dig into my universe</h2>
	</div>
	<div class="angry-grid w-3/6 container mx-auto aspect-4/3">
		<div
			class="w-full text-lg text-center p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
			id="item-0"
		>
			<div class="flex justify-center items-center h-full w-full bg-gray-800">
				<img class="p-1" style="max-width: 50%;
				aspect-ratio: 1 / 1;
				object-fit: contain;" src={Astra} alt="" />
			</div>
		</div>
		<div
			class="w-full text-lg text-center p-1 rounded-md bg-gradient-to-t from-[#03B381] to-[#3B4755]"
			id="item-1"
		>
			<div class="flex justify-center items-center h-full w-full bg-gray-800">
			</div>
		</div>
		<div class="box" id="item-2">&nbsp; C</div>
		<div class="box" id="item-3">&nbsp; D</div>
		<div class="box" id="item-4">&nbsp; E</div>
		<div class="box" id="item-5">&nbsp; F</div>
	</div>
</section>

<style>
	.angry-grid {
		display: grid;
		grid-template-rows: repeat(4, fr);
		grid-template-columns: repeat(3, minmax(0, 1fr));
		gap: 9px;
		position: relative;
		grid-column: 2 / 12;
	}

	.box {
		background-color: #333;
		color: white;
		padding: 20px;
		font-size: 24px;
		text-align: center;
		border-radius: 8px;
		box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	}

	#item-0 {
		grid-row-start: 1;
		grid-column-start: 1;
		grid-column-end: 4;
	}
	#item-1 {
		grid-row-start: 2;
		grid-column-start: 1;
		grid-column-end: 2;
	}
	#item-2 {
		grid-row-start: 2;
		grid-column-start: 2;
		grid-column-end: 3;
	}
	#item-3 {
		grid-row-start: 2;
		grid-column-start: 3;

		grid-row-end: 4;
		grid-column-end: 4;
	}
	#item-4 {
		grid-row-start: 3;
		grid-column-start: 1;
		grid-column-end: 3;
	}
	#item-5 {
		grid-row-start: 4;
		grid-column-start: 1;
		grid-column-end: 4;
	}
</style>
